<p style="color: green"><%= notice %></p>

<% content_for :title, "To do items" %>

<h1>To do items</h1>

<div id="to_do_items">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Completed at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @to_do_items.each do |to_do_item| %>
        <tr id="<%= dom_id to_do_item %>">
          <td><%= to_do_item.title %></td>
          <td><%= to_do_item.description %></td>
          <td><%= to_do_item.completed %></td>
          <td><%= to_do_item.completed_at %></td>
          <td>
            <%= link_to "Show this to do item", to_do_item %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New to do item", new_to_do_item_path %>
