<p style="color: green"><%= notice %></p>

<%= render @completed_to_do_item %>

<div>
  <%= link_to "Edit this completed to do item", edit_completed_to_do_item_path(@completed_to_do_item) %> |
  <%= link_to "Back to completed to do items", completed_to_do_items_path %>

  <%= button_to "Destroy this completed to do item", @completed_to_do_item, method: :delete %>
</div>
